{% set classes = [
  'o-quote',
  node.navigator ? 'navigator' : '',
  section.color ? 'bg-primary-' ~ section.color: '',
] %}

{% set isLandingOrProgram = node.bundle == 'landing_page' or node.bundle == 'program' %}

<div class="{{classes|join(' ')}}">
  <div class= "o-quote__content-wrapper">
    {% if section.title and isLandingOrProgram == false %}
     <h2 class="a-frame__title">{{ section.title }}</h2>
    {% endif %}
    {% if section.quote %}
      <span class="fas fa-quote-left" aria-hidden="true"></span>
      <div class="o-quote__description">{{ section.quote.processed|raw }}</div>
    {% endif %}

    {% if section.quoteCredit %}
      <div class="o-quote__credit">{{ section.quoteCredit }}</div>
    {% endif %}
    {% if section.quoteTitle %}
      <div class="o-quote__title">{{ section.quoteTitle }}</div>
    {% endif %}
  </div>
</div>
