{# Non-Background Image #}
{% set noImage = hero.featuredImage.entity.desktopImg.derivative.url == null ? ' bg-primary-light-blue -noImage' : '' %}

{# Background Image #}
{% if hero.image.entity.desktopImg.derivative.url is not empty %}
	{% set bg_image_desktop = hero.image.entity.desktopImg.derivative.url %}
	{% set bg_image_tablet = hero.image.entity.tabletImg.derivative.url %}
	{% set bg_image_mobile = hero.image.entity.mobileImg.derivative.url %}
{% endif %}

{% if hero.featuredImage.entity.desktopImg.derivative.url is not empty %}
	{% set bg_image_desktop = hero.featuredImage.entity.desktopImg.derivative.url %}
	{% set bg_image_tablet = hero.featuredImage.entity.tabletImg.derivative.url %}
	{% set bg_image_mobile = hero.featuredImage.entity.mobileImg.derivative.url %}
{% endif %}

<style>
	.o-hero .o-hero__wrapper {
		background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('{{ bg_image_mobile|raw }}');
	}
	.o-hero.-noImage .o-hero__wrapper {
		background-image: url('{{ bg_image_mobile|raw }}');
	}
	@media(min-width: 768px) {
		.o-hero .o-hero__wrapper {
			background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{bg_image_tablet|raw}}');
		}
	}
	@media(min-width: 1024px) {
		.o-hero .o-hero__wrapper {
			background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{bg_image_desktop|raw}}');
		}
	}
</style>

{# Agency Term Hero #}
{% if heroType == "agencyTermHero" %}
{% set logo = hero.logo.entity.img.derivative.url %}

	<div class="o-hero{{noImage}} -agencyTerm">
		<div class="o-hero__wrapper">

			{# Displays logo on mobile display only #}
			<div class="m-agencyHero__logoWrapper">
				<img class="m-agencyHero__logo" src={{logo}} alt="logo"></img>
		  </div>

		  {% include '@storybook/03-Molecules/heroItems/heroItems.twig' with { 
				linkText: hero.category[0].entity.keyword,
				title: hero.title, 
				website: hero.website,
				variant: "m-agencyTerm__hero -items" 
				} 
		  %}

		  {# Displays logo on tablet and desktop display only #}
		  <div class="m-agencyHero__logoWrapper -wideScreen">
			  <img class="m-agencyHero__logo" src={{logo}} alt="logo"></img>
	    </div>
    </div>
    {% include '@storybook/03-Molecules/heroSeparator/heroSeparator.twig' with { node: hero } %}
  </div>
{% endif %}

{# County Term Hero #}
{% if heroType == "countyTermHero" %}
	<div class="o-hero{{noImage}} -countyTerm">
		<div class="o-hero__wrapper">
      {% include '@storybook/03-Molecules/heroItems/heroItems.twig' with { 	
        region: hero.region.entity.keyword,
        title: hero.title,
        area: hero.area,
        founded: hero.founded,
        population: hero.population,
        variant: "m-countyTerm__hero -items" 
        } 
      %}
    </div>
    {% include '@storybook/03-Molecules/heroSeparator/heroSeparator.twig' with { node: hero } %}
  </div>
{% endif %}
