{% set classes = [
  type ? type : '',
  'm-milestone',
] %}

<div class="{{classes|join(' ')}}">
  {% if type == "latest" %}
    <span class="date">{{ date }}</span>
    <h4>{{ name }}</h4>
  {% else %}
    <div class="milestone__checkmark"
      {% include "@storybook/02-Atoms/icons/icons.twig"  with { icon: "check" } %}
    </div>
    <div class ="m-milestone__content">
      <span class="date">{{ date }}</span>
      <h4>{{ name }}</h4>
    </div>
  {% endif %}
</div>
