{% if card.image.entity.fieldMediaImage.derivative.url  is  empty %}
	{% set bioCard_logo =  (url('<front>')|render ~ directory~"/../storybook/assets/placeholders/NYGov_NYS_16x9.png") %}
	{% set linkCard_logo =  (url('<front>')|render ~ directory~"/../storybook/assets/placeholders/NYGov_NYS_16x9.png") %}
{% endif %}

{% if card.image.entity.fieldMediaImage.derivative.url is not empty %}
	{% set bioCard_logo = card.image.entity.fieldMediaImage.derivative.url %}
	{% set linkCard_logo = card.image.entity.fieldMediaImage.derivative.url %}
{% endif %}

{# come back to this... I don't think both variables are necessary #}

<style>
.o-bioCardLogo.-index{{cardNumber}}.-paragraph{{paragraphNumber}}{
  background-image: url("{{bioCard_logo|raw}}");
}
.o-linkCardLogo.-index{{cardNumber}}.-paragraph{{paragraphNumber}}{
  background-image: url("{{linkCard_logo|raw}}");
}
</style>
{% set socialMediaArray = [
    {
      name: "vine",
      className: "icon-vine"
    },
    {
      name: "google plus",
      url: "plus.google",
      className: "icon-google-plus"
    },
    {
      name: "facebook",
      shortUrl: "on.fb",
      className: "icon-facebook"
    },
    {
      name: "instagram",
      className: "icon-instagram"
    },
    {
      name: "twitter",
      className: "icon-twitter"
    },
    {
      name: "youtube",
      className: "icon-youtube"
    },
    {
      name: "flickr",
      className: "icon-flickr"
    },
    {
      name: "rss",
      className: "icon-rss"
    },
    {
      name: "pinterest",
      className: "icon-pinterest",
    },
    {
      name: "soundcloud",
      className: "icon-soundcloud",
    },
    {
      name: "tumblr",
      className: "icon-tumblr"
    },
    {
      name: "linkedin",
      className: "icon-linkedin"
    },
    {
      name: "vimeo",
      className: "icon-vimeo"
    },
    {
      name: "snapchat",
      className: "icon-snapchat"
    },
    {
      name: "google play",
      url: "play.google",
      className: "icon-google-play"
    }
] %}


{% if card.cardType == "ParagraphBioCard" %}
<div class="o-bioCardLogo -index{{cardNumber}} -paragraph{{paragraphNumber}}">
  <a class="o-bioCard_imageLink" href="{{ card.contentLink.url.path }}" aria-label="Visit the website for {{card.cardTitle}} {{card.name}}."></a>
  {% include "@storybook/03-Molecules/cardContent/cardData.twig" with {headline: card.cardTitle, name: card.name, url:card.contentLink.url.path, socialMedia: card.socialMedia, socialMediaArray:socialMediaArray, variant:"m-card__bio"} %}
</div>
{% endif %}

{% if card.cardType == "ParagraphLinkCard" %}
<div class="o-linkCardLogo -index{{cardNumber}} -paragraph{{paragraphNumber}}">
{% include "@storybook/03-Molecules/cardContent/cardData.twig" with  {headline: card.cardTitle, links: card.links, variant:"m-card__link"} %}
</div>
{% endif %}

