<div class="t-section -container">
	{% for index, item in node.sections %}
		{% if item.section.type == "ParagraphHeroQueue"%}
			{# Default Hero #}
			{% if item.section.heroOption == "default" %}
				{% include '@storybook/04-Organisms/hero/hero.twig' with { hero: item.section.queue[0].hero,  heroType: "landingPageHero" } %}
			{% endif %}

			{# Biography Hero #}
			{% if item.section.heroOption == "biography" %}
				{% include '@storybook/04-Organisms/hero/hero.twig' with { hero: item.section.queue[0].hero,  heroType: "bioPageHero" } %}
			{% endif %}
		{% endif %}

		{% if item.section.type == "ParagraphStayUpdated" %}
			<div class="nygov-stay-updated-form"></div>
		{% endif %}

		{% if item.section.type == "ParagraphLocalSectionFrame" %}

			<div id="nygov-local-section"></div>
		{% endif %}

		{% if item.section.type == "ParagraphTitleBar" %}
			<div class="t-section__content -no-margin-top">
				{% include '@storybook/04-Organisms/titleBar/titleBar.twig' with { title: item.section.title, subtitle: item.section.subtitle, variant: "o-titleBar" } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphWysiwyg" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/wysiwyg/wysiwyg.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphResources" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/resources/resources.twig'  with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphAudiosPhotosButtons" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/audioPhoto/audioPhoto.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphCategoriesTiles" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/categoriesTiles/categoriesTiles.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphButtons" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/buttons/buttons.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{# Popular Services #}
		{% if item.section.type == "ParagraphPopularServices" %}
			{% set aboveFrame = (loop.index0 - 1) %}

			{# Removes top margin only on Heroes and Stay Updated Frames above #}
			{# Stay Updated Section needs to be added on the conditional (ternary) below  #}
				<div class="t-section__content {{node.sections[aboveFrame].section.type == 'ParagraphHeroQueue' or (heroToggle == true and loop.first) ? '-no-margin-top' : '' }}"> {%
        include '@storybook/04-Organisms/popularServices/popularServices.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphDocuments" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/documents/documents.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphTranslatedDocuments" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/translatedDocuments/translatedDocuments.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphPlanAhead" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/planAhead/planAhead.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphPlanSummary" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/planSummary/planSummary.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphContact" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/contact/contact.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphQuote" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/quote/quote.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphConnect" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/connect/connect.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphMilestones" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/milestones/milestones.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphVideoEmbed" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/videoEmbed/videoEmbed.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphPhotoGallery" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/photoGallery/photoGallery.twig' with {
        section: item.section
      } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphProgramSupporter" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/programSupporter/programSupporter.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphCardsQueue" %}
			{% set paragraphNumber = loop.index %}
      {% if item.section.cardType != "hero_card" %}
      
			<div class="t-section__content -t_wrap">

				{% if (item.section.cardType == "default_card") or (item.section.cardType == "mobile_app_card") or (item.section.cardType == "stats_card") %}
					<div class="t-headline">
						<div>{% include "@storybook/02-Atoms/title/title.twig" with { title: item.section.title, classNames:"a-card__title", variant:"title" } %}</div>
						<div>{% include "@storybook/02-Atoms/title/title.twig" with { headline: item.section.subheadline, classNames:"a-card__subHeadline", variant:"headline" } %}</div>
					</div>
				{% endif %}

				{% if (item.section.cardType == "default_card") or (item.section.cardType == "mobile_app_card") %}
					<div class="t_cardsWrap">
						{% for card in item.section.cardQueue %}
							<div {{ (( loop.length % 3 == 1 ) and (loop.last) ? "class=t_cardContainerRight") or (loop.index % 3 == 0) ? "class=t_cardContainerRight" : "class=t_cardContainer" }}>
								{% include '@storybook/04-Organisms/cards/cards.twig' with { card: card.card, cardNumber:loop.index, cardType: item.section.cardType, paragraphNumber: paragraphNumber } %}
							</div>
						{% endfor %}
					</div>
				{% endif %}

				{% if item.section.cardType == "stats_card" %}
					{% set ariaLabel = item.section.ariaLabel %}
					<div class="t_statsWrap">
						{% for card in item.section.cardQueue %}
							{% include '@storybook/04-Organisms/cards/cards.twig' with { card: card.card, cardNumber: loop.index, cardType: item.section.cardType, paragraphNumber: paragraphNumber } %}
						{% endfor %}
						<div class="t_statsLM">
							{% include '@storybook/03-Molecules/bar/footer.twig' with { learnMore: item.section.learnMore, aria: ariaLabel, variant: "m-card__statsBar" } %}
						</div>
					</div>
				{% endif %}

				{% if (item.section.cardType == "quick_card") %}
					<div class="t_quickCardWrap">
						<div class="t_quickCard__content">
							<div class="t_quickCardTileWrapper">
								<div class="t_quickCardContainer">
									{% for card in item.section.cardQueue %}
										{% if loop.first %}
											<div class="t_cardContainer">
												<div class="t_quickCardTitle">{% include "@storybook/02-Atoms/title/title.twig" with { title: item.section.title, classNames: "a-quickCard__title", variant: "title" } %}</div>
												{% if item.section.title %}
													<div class="t_line"></div>
												{% endif %}
												{% include '@storybook/04-Organisms/cards/cards.twig' with { card: card.card, cardNumber:loop.index, cardType: item.section.cardType, paragraphNumber: paragraphNumber } %}
											</div>
										{% endif %}
										{% if not loop.first %}
											<div class="t_cardContainer">
												{% include '@storybook/04-Organisms/cards/cards.twig' with { card: card.card, cardNumber:loop.index, cardType: item.section.cardType, paragraphNumber: paragraphNumber } %}
											</div>
										{% endif %}
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}
      </div>
      {% endif %}

			<div class="t-section__content -t_wrap {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% if (item.section.cardType == "hero_card") %}
					<div class="t_heroCardWrap">
						{% include "@storybook/04-Organisms/cards/cards.twig" with {card: item.section.cardQueue[0].card, cardNumber:"1", cardType: item.section.cardType, paragraphNumber: paragraphNumber} %}
					</div>
				{% endif %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphBioLinksCard" %}
			{% set paragraphNumber = loop.index %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				<div class="t_bioAndLinks-wrap">
					<div class="t_headline">
						<div>{% include "@storybook/02-Atoms/title/title.twig" with { title: item.section.title, classNames:"a-card__title", variant:"title" } %}</div>
						<div>{% include "@storybook/02-Atoms/title/title.twig" with { headline: item.section.headline, classNames:"a-card__subHeadline", variant:"headline" } %}</div>
					</div>
					<div class="t_bio-content">
						{% for card in item.section.cards %}
							{% if card.card.cardType == "ParagraphBioCard" %}
								<div class="t_bioCard-wrap">
									{% include "@storybook/04-Organisms/bioAndLinks/bioAndLinks.twig" with { card: card.card, cardNumber:loop.index, paragraphNumber: paragraphNumber} %}
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<div class="t_link-content">
						{% for card in item.section.cards %}
							{% if card.card.cardType == "ParagraphLinkCard" %}
								{% include "@storybook/04-Organisms/bioAndLinks/bioAndLinks.twig" with { card: card.card, cardNumber:loop.index, paragraphNumber: paragraphNumber} %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphBiography" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/biography/biography.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphNygovFilter" %}
			<div class="t-section__content -no-margin-top section__filter">
				{% include '@storybook/04-Organisms/filter/filter.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphModal" %}
			<div class="t-modal__content">
				{% include '@storybook/04-Organisms/modal/modal.twig'  with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphQuickLinks" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/quickLinks/quickLinks.twig'  with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphAlerts" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/alerts/alerts.twig'  with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphJazzedRelease" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/jazzedRelease/jazzedRelease.twig'  with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphSocialMediasShare" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/socialMediaShare/socialMediaShare.twig'  with { section: item.section, url: node.entityUrl.path } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphWhatsRelated" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				{% include '@storybook/04-Organisms/whatsRelated/whatsRelated.twig'  with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphHighlight" %}
			<div class="t-section__content {{node.sections[(loop.index0 - 1)].section.type == 'ParagraphTitleBar' ? '-no-margin-top' : '' }}">
				<div class="t-card__featuredWrap">
					{% include "@storybook/04-Organisms/highlight/highlight.twig" with {section: item.section } %}
				</div>
			</div>
		{% endif %}


	{% endfor %}
</div>
