{# DO NOT ADD MORE ICONS, use and append to 01-Base/icons #}

{% if icon == "a-file -icon" %}
	<span class="fas fa-file-alt {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "sort-up" %}
  <span class="fas fa-sort-up" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-play -icon" %}
	<span class="fas fa-play {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-download -icon" %}
	<span class="fas fa-download {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "check" %}
	<span class="a-milestone__icon">
		<span class="fas fa-check" aria-hidden="true"></span>
	</span>
{% endif %}

{% if icon == "card" %}
	<span class="a-card__icon">
		<span class="fas fa-share" aria-hidden="true"></span>
	</span>
{% endif %}

{% if icon =="mobile" %}
	<span class="a-mobile__icon">
		<span class="fas fa-download" aria-hidden="true"></span>
	</span>
{% endif %}

{% if icon =="link" %}
	<span class="a-link__icon">
		<span class="fas fa-caret-right" aria-hidden="true"></span>
	</span>
{% endif %}

{% if icon == "a-solidRightArrow -icon" %}
	<span class="fas fa-caret-right {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "long-arrow-down" %}
  <span class="fas fa-long-arrow-alt-down" aria-hidden="true"></span>
{% endif %}

{% if icon == "envelope" %}
  <span class="fas fa-envelope" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-longLeftArrow -icon" %}
	<span class="fas fa-long-arrow-alt-left {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-longRightArrow -icon" %}
	<span class="fas fa-long-arrow-alt-right {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-downArrow -icon" %}
	<span class="fas fa-chevron-down {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-leftArrow -icon" %}
	<span class="fas fa-chevron-left {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-upArrow -icon" %}
	<span class="fa fa-chevron-up {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-search -icon" %}
	<span class="fa fa-search {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-facebook -icon" %}
	<span class="fab fa-facebook-f" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-instagram -icon" %}
	<span class="fab fa-instagram" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-twitter -icon" %}
	<span class="fab fa-twitter" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-google-plus -icon" %}
	<span class="fab fa-google-plus-g" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-youtube -icon" %}
	<span class="fab fa-youtube" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-flickr -icon" %}
	<span class="fab fa-flickr" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-pinterest -icon" %}
	<span class="fab fa-pinterest-p" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-linkedin -icon" %}
	<span class="fab fa-linkedin" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-soundcloud -icon" %}
	<span class="fab fa-soundcloud" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-tumblr -icon" %}
	<span class="fab fa-tumblr" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-vine -icon" %}
	<span class="fab fa-vine" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-clearAll -icon" %}
	<span class="fas fa-times {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-share -icon" %}
	<span class="fas fa-share {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-solidClock -icon" %}
	<span class="fas fa-clock {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-clock -icon" %}
	<span class="far fa-clock {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-pin -icon" %}
	<span class="fas fa-map-marker-alt {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "a-alert -icon" %}
	<span class="fas fa-exclamation-triangle {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "clock" %}
	<span class="fas fa-clock {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "mapMarker" %}
	<span class="fas fa-map-marker-alt {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "update" %}
	<span class="fas fa-sync-alt {{icon}}" aria-hidden="true"></span>
{% endif %}

{% if icon == "quote-left" %}
	<span class="fas fa-quote-left" aria-hidden="true"></span>
{% endif %}

{% if icon == "quote-right" %}
	<span class="fas fa-quote-right" aria-hidden="true"></span>
{% endif %}

{% if icon == "times-circle" %}
	<span class="far fa-times-circle" aria-hidden="true"></span>
{% endif %}

{% if icon == "ellipsis" %}
	<span class="fas fa-ellipsis-h" aria-hidden="true"></span>
{% endif %}

{% if icon == "icon-arrow-circle" %}
	<span class="fas icon-arrow-circle" aria-hidden="true"></span>
{% endif %}

{# DO NOT ADD MORE ICONS, use and append to 01-Base/icons #}