{% if newTab %}
  {% set target = 'target="_blank"' %}
{% else %}
  {% set target = '' %}
{% endif %}

{# Add icon link option for link. #}
{% if icon is defined %}
  <a class="{{variant}}" href="{{url}}" {{target}}>
    {% include "@storybook/02-Atoms/icons/icons.twig"  with { icon: icon } %}
  </a>
{% elseif variant %}
  {# Resume normal variant. #}
  <a class="{{variant}}" href="{{url}}" {{target}}>{{content}}</a>
{% else %}
  <a href={{url}} {{target}}>{{content}}</a>
{% endif %}