<div class="m-separator -wrapper -waypoint -anchor">

  <div class="m-separator -content">

    <div class="m-separator -backToTopTitle">
      <div class="m-separator -backToTop">
        <div class="m-separator -backToTop -text">TOP</div>
        <div class="m-separator -backToTop -icon">
          {% include '@storybook/02-Atoms/icons/icons.twig' with { icon: 'sort-up' } %}
        </div>
      </div>
      <div class="m-separator -title">
        <span class="line-clamp-1">{{ node.title }}</span>
      </div>
    </div>

    <div class="m-separator -shareBar">
      <span class="m-separator -shareText">Share</span>
      <span class="m-separator -icon">
        <a aria-label="email" href="mailto:?subject={{ node.title }}&amp;body={{ url('<current>') }}">
          {% include '@storybook/02-Atoms/icons/icons.twig' with { icon: 'envelope' } %}
        </a>
      </span>
      <span class="m-separator -icon">
        <a aria-label="facebook" href="http://www.facebook.com/share.php?u={{ url('<current>') }}">
          {% include '@storybook/02-Atoms/icons/icons.twig' with { icon: 'a-facebook -icon' } %}
        </a>
      </span>
      <span class="m-separator -icon">
        <a aria-label="twitter" href="https://twitter.com/intent/tweet?text={{ node.title }}&amp;url={{ url('<current>') }}">
          {% include '@storybook/02-Atoms/icons/icons.twig' with { icon: 'a-twitter -icon' } %}
        </a>
      </span>
    </div>

  </div>
</div>
