{% if variant == "a-sidebar__label -option" %}
  <div class="a-sidebar__label">
    <input id="{{label}}" class="a-checkbox"  type="checkbox" {{checked}} />
    <label for="{{label}}" class="a-checkbox__label">{{label}}</label>
  </div>
{% endif %}

{% if variant == "a-sidebar__date" %}
  <label class="a-sidebar__date -label">{{label}}</label>
  <input placeholder="mm/dd/yyyy" class="a-sidebar__date -input" type="text"  name="date_start[date]" value="" size="20" maxlength="30">
{% endif %}

{% if variant == "a-sidebar__searchbar" %}
  <input placeholder="Keyword(s)" type="text" id="edit-keywords" name="keywords" class="a-sidebar__searchbar" />
{% endif %}

{% if variant == "a-resultsCard__date" %}
  <div class="a-resultsCard__date">
    {% include "@storybook/02-Atoms/date/date.twig" with { date: month, classNames: "a-resultsCard__scheduledEvent -month", variant: "month"} %}
    {% include "@storybook/02-Atoms/date/date.twig" with { date: day, classNames: "a-resultsCard__scheduledEvent -day", variant: "day" } %} 
    {% include "@storybook/02-Atoms/date/date.twig" with { date: year, classNames: "a-resultsCard__scheduledEvent -year", variant: "year" } %} 
  </div>
{% endif %} 

{% if variant == "a-resultsCard__time" %}
  <div class="a-resultsCard__time -container">
    <span class="a-resultsCard__clock -icon"> {% include "@storybook/02-Atoms/icons/icons.twig" with { icon: "a-solidClock -icon" } %} </span>
    <span class="a-resultsCard__time">{{time}} </span>
  </div>
{% endif %} 

{% if variant == "a-resultsCard__location" %}
  <div class="a-resultsCard__location -container">
    <span class="a-resultsCard__pin -icon">{% include "@storybook/02-Atoms/icons/icons.twig" with { icon: "a-pin -icon" } %} </span>
    <span class="a-resultsCard__location">{{location|slice(0,40)}} </span>
  </div>
{% endif %}

{% if variant == "a--paginate__index" %}
  {% for index in index %}
    <button class="a--paginate__index" index="{{index}}">{{index}}</button>
  {% endfor %}  
{% endif %} 


