{% if variant == 'heading' %}
	<h1 class="a-title {{classNames}}">
    {{title}}
  </h1>
{% endif %}

{% if variant == 'title' %}
	<h2 class="a-title {{classNames}}">
    {{title}}
  </h2>
{% endif %}

{% if variant == 'headline' %}
	<h3 class="a-headline {{classNames}}">
		{{headline}}
  </h3>
{% endif %}
