{% if variant == "m-eventDate" %}
<div class="m-eventInfo">
<ul class="">
	{% if eventDetails.monthStart %}
		<li class="text-bold">
		<span class="icon-calendar text-primary-blue" aria-hidden="true"></span> 
		{{eventDetails.monthStart}} {{eventDetails.dayStart}}, {{eventDetails.yearStart}} 
		
		{% if eventDetails.end and eventDetails.begin != eventDetails.end %}
			— {{eventDetails.monthEnd}} {{eventDetails.dayEnd}}, {{eventDetails.yearEnd}} 
		{% endif %}
		</li>
	{% endif %}
	{% if eventDetails.timeStart %}
		<li class=""><span class="icon-clock text-primary-blue" aria-hidden="true"></span>{{eventDetails.timeStart}} — {{eventDetails.timeEnd}}</li>
	{% endif %}
	{% if venue %}
		<li class=""><span class="icon-map-marker text-primary-blue" aria-hidden="true"></span>{{venue}}</li>
	{% endif %}
</ul> 
</div>   
{% endif %}

