{% if variant =="m-card__default" %}
  <div class="m-card__data">
  	{% if card.androidLink.url.path or card.iosLink.url.path %}
		<h3> {{label}} </h3>
	{% else %}  
    <h3>
    {% include '@storybook/02-Atoms/link/link.twig' with { content: label, url:url, variant: "a-card__label"} %}
    </h3>
	{% endif %}
    {% if contentDate %}
    {% include '@storybook/02-Atoms/date/date.twig' with {date: contentDate, classNames: "a-date-14 text-bold text-uppercase", variant: "date" } %}
    {% endif %}
    {% if dateTime %}
    {% include '@storybook/02-Atoms/date/date.twig' with {date: dateTime, classNames: "a-date-14 text-uppercase", variant: "date" } %}
    {% endif %}
    {% include "@storybook/02-Atoms/text/text.twig" with { text: description, classNames: "a-card__description", variant: "html"} %}
	{% if card.androidLink.url.path or card.iosLink.url.path %}
		<div class="o-cardFooter">
			{% if card.iosLink.url.path %}
				<a class="mobileLink" href="{{card.iosLink.url.path}}" data-ios="{{card.iosLink.url.path}}" data-iostext="{{card.iosLink.linkText}}" aria-label="Download the {{ label }} Application for Apple devices">
					{% include "@storybook/03-Molecules/bar/footer.twig" with {text: "Download iOS App", variant: "m-card__mobileFooter"} %}
				</a>
			{% endif %}
			{% if card.androidLink.url.path %}		
			<a class="mobileLink" href="{{card.androidLink.url.path}}" data-android="{{card.androidLink.url.path}}" data-androidtext="{{card.androidLink.linkText}}" aria-label="Download the {{ label }} Application for Android devices">
				{% include "@storybook/03-Molecules/bar/footer.twig" with {text: "Download Android App", variant: "m-card__mobileFooter"} %}
			</a>
			{% endif %}
		</div>
	{% endif %}
  </div>
{% endif %}


{% if variant =="m-card__service" %}
	<div class="m-card__data">
		<div class="m-cardTabletWrap">
			<div class="m-cardSectionDescription">
			<h3>
				{% include '@storybook/02-Atoms/link/link.twig' with { content: label, url:url, variant: "a-card__label"} %}
			</h3>
				{% include "@storybook/02-Atoms/text/text.twig" with { text: description, classNames: "a-card__description", variant: "html"} %}
			</div>
			<div class="m-cardSectionDetails">
				{% include "@storybook/03-Molecules/chapterLinks/chapterLinks.twig" with { chapterLinks: chapterLinks, variant: "m-card__chapterLinks" } %}
			</div>
		</div>
	</div>
{% endif %}


{% if variant =="m-card__event" %} 
	<div class="m-card__data"> 
		<div class="m-cardTabletWrap">
			<div class="m-cardSectionDescription">
			<h3>
				{% include '@storybook/02-Atoms/link/link.twig' with { content: label, url:url, variant: "a-card__label"} %}
			</h3>
				{% include "@storybook/02-Atoms/text/text.twig" with { text: description, classNames: "a-card__description", variant: "html"} %}
			</div>
			<div class="m-cardSectionDetails">
				{% include "@storybook/03-Molecules/eventDate/eventDate.twig" with { eventDetails: eventDetails, venue: card.venue, variant:"m-eventDate" } %}
			</div>
		</div>
	</div>
{% endif %}


{% if variant =="m-card__featured" %}
	<div class="m-card__data">
		<div>{% include "@storybook/02-Atoms/title/title.twig" with { title: title, classNames:"a-highlight__title", variant:"title" } %}</div>
		<div>{% include "@storybook/02-Atoms/title/title.twig" with { headline: headline, classNames:"a-card__subHeadline", variant:"headline" } %}</div>
		{% include "@storybook/02-Atoms/text/text.twig" with { text: label, classNames: "a-highlight__subtitle", variant: "html"} %}
		{% include "@storybook/02-Atoms/text/text.twig" with { text: description, classNames: "a-card__description", variant: "html"} %}
    <div class="m-highlight__button">
    {% include "@storybook/02-Atoms/buttons/buttons.twig" with { title: learnMore.title, url: learnMore.url.path, newWindow: newWindow, variant: "paragraph-learn-more", classNames: "a-buttons__highlight" } %}
    </div>
  </div>
{% endif %}


{% if variant =="m-card__hero" %}
  <div class="m-card__data">
	{% if card.androidLink.url.path or card.iosLink.url.path %}
		<h2> {{label}} </h2>
	{% else %}  
    <h2>
    {% include '@storybook/02-Atoms/link/link.twig' with { content: label, url:url, variant: "a-card__label"} %}
    </h2>
	{% endif %}
    {% include "@storybook/02-Atoms/text/text.twig" with { text: description, classNames: "a-card__description", variant: "html"} %}
  </div>
{% endif %}

{% if variant =="m-card__stats" %}
	<div class="m-card__statsBKG"></div>
	<div class="m-card__stats">
		{% if keyword.entity.keyword %}
			{% include "@storybook/02-Atoms/buttons/buttons.twig" with {title: keyword.entity.keyword, url: keyword.entity.url.path, variant: "a-buttons__stats"} %}
		{% endif %}
		{% if stats %}
			{% include "@storybook/02-Atoms/text/text.twig" with { stats: stats, statsLabel: statsLabel, variant: "a-stats__stats"} %}
		{% endif %}
		{% if description %}
			{% include "@storybook/02-Atoms/text/text.twig" with { text: description, classNames:"a-stats__description", variant: "html"} %}
		{% endif %}
	</div>
{% endif %}

{# Per Jess H. Limited to 5 social media links #}
{% if variant =="m-card__bio" %}
	<div class="m-card__bioData">
		<div class="m-card__bioTitle">
			{% include "@storybook/02-Atoms/title/title.twig" with { headline: headline, classNames:"a-government__title", variant:"headline" } %}
		</div>
		<div class="m-card__bioName">
			{% include "@storybook/02-Atoms/link/link.twig" with { content: name, url: url, variant: "a-government__name"} %}
		</div>
		<div class="m-card__bioSocial">
			{% if socialMedia %}
				{% for socialLink in socialMedia %}
					{% if socialLink.url.path and loop.index <= 5 %}
						{% for socialMedias in socialMediaArray %}
							{% if socialMedias.name in socialLink.url.path or socialMedias.url in socialLink.url.path or socialMedias.shortUrl in socialLink.url.path %}
								<a href="{{ socialLink.url.path }}"><span class="{{ socialMedias.className }}"></span></a>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endif %}




{% if variant =="m-card__link" %}
	<div class="m-card__linkData">
		<div class="m-card__linkTitle">
			<div>{% include "@storybook/02-Atoms/title/title.twig" with { headline: headline, classNames:"a-government__title", variant:"headline" } %}</div>
		</div>
		<div class="m-card__linkLinks">
			{% for link in links %}
				{% set target = link.entity.newWindowToggle ? "_blank" : "_self" %}
				<div class="m-card__links">
					<a href="{{ link.entity.fieldLink.url.path }}" target={{target}}>
						{{ link.entity.fieldLink.linkText }}
					</a>
				</div>
			{% endfor %}
		</div>
	</div>
{% endif %}






