{% if variant == "m-card__chapterLinks" %}
  <div> 
    <ul class= "m-card__chapterLinks">
    {% for item in chapterLinks %}
      <li><a href="{{item.url.path}}" aria-label="{{item.linkText}} quicklink for {{card.label}}" {{ (loop.index == 3) ? "class=m-card__lastLink" : ""}}> {{item.linkText}} <span class="icon-play-button-arrow text-primary-blue" aria-hidden="true"></span></a></li>
    {% endfor %}
    </ul>
  </div>
{% endif %}
