{% if node.sections|length > 0 %}

  {# Mobile Menu #}
  <div class="t-navigator__sidebarWaypoint -mobile" aria-hidden="true"></div>
  <div class="t-navigator__sidebar -mobile -closed bg-dark text-white">
   <div class="t-navigator__innerContent">
    <ul class="t-navigator__list">
     {% for item in node.sections %}
      {% if item.section.partOfNavigator is defined and item.section.partOfNavigator == true %}
       <li class="t-navigator__listItem {{ loop.index == 1 ? " active first" : '' }}">
        <a class="t-navigator__link text-bold text-proxima {{ item.section.title|cleanString() }}" href="#{{ item.section.title|cleanString() }}">{{ item.section.title }}</a>
        <div class="t-navigator__menuIcons" tabindex="{{ loop.index != 1 ? '-1': '0' }}">
         <span class="fas fa-folder-plus text-white"></span>
         <span class="fas fa-folder-minus text-primary-gold"></span>
        </div>
       </li>
      {% endif %}
     {% endfor %}
    </ul>
   </div>
  </div>
  {# Desktop menu #}
  <div class="t-navigator__sidebar -desktop -wrapper bg-dark">
   <div class="t-navigator__content">
    <header class="text-oswald text-bold">Sections</header>
    <ul class="t-navigator__list">
     {% for item in node.sections %}
      {% if item.section.partOfNavigator is defined and item.section.partOfNavigator == true %}
       <li class="t-navigator__listItem {{ loop.index == 1 ? " active first" : '' }}">
        <a class="t-navigator__link text-bold text-proxima {{ item.section.title|cleanString() }}" href="#{{ item.section.title|cleanString() }}">{{ item.section.title }}</a>
       </li>
      {% endif %}
     {% endfor %}
    </ul>
    <span class="t-navigator__arrow"></span>
   </div>
  </div>

  {# Paragraph renders #}
  <div class="t-section__container -navigator">
   {% for index, item in node.sections %}

    <div
     class="t-section__wrapper">

     {# Top/Title waypoint #}
     {% if item.section.title != null and item.section.type != "ParagraphModal" and item.section.type != "ParagraphWhatsRelated" %}
      <div class="t-section__topWaypoint" data-id="{{ item.section.title|cleanString() }}" aria-hidden="true"></div>
     {% endif %}

     {# Titles #}
     {% if item.section.title != null and item.section.type != "ParagraphModal" and item.section.type != "ParagraphWhatsRelated" %}
      <a class="t-section__anchor" id="{{ item.section.title|cleanString() }}" aria-hidden="true" href="#" tabindex="-1"></a>
      <h2 class="t-section__title text-primary-blue text-proxima text-extra-bold" tabindex="0">{{ item.section.title }}</h2>
     {% endif %}

     {# Paragraphs: Add Paragraphs Below #}

     {% if item.section.type == "ParagraphWysiwyg" %}
      <div class="t-section__content">
       {% include '@storybook/04-Organisms/wysiwyg/wysiwyg.twig' with { section: item.section } %}
      </div>
     {% endif %}

     {% if item.section.type == "ParagraphDocuments" %}
			<div class="t-section__content">
				{% include '@storybook/04-Organisms/documents/documents.twig' with { section: item.section } %}
			</div>
		{% endif %}

		{% if item.section.type == "ParagraphTranslatedDocuments" %}
			<div class="t-section__content">
				{% include '@storybook/04-Organisms/translatedDocuments/translatedDocuments.twig' with { section: item.section } %}
			</div>
		{% endif %}

    {% if item.section.type == "ParagraphVideoEmbed" %}
			<div class="t-section__content">
				{% include '@storybook/04-Organisms/videoEmbed/videoEmbed.twig' with { section: item.section } %}
			</div>
		{% endif %}

    {% if item.section.type == "ParagraphPhotoGallery" %}
			<div class="t-section__content">
				{% include '@storybook/04-Organisms/photoGallery/photoGallery.twig' with {
        section: item.section
      } %}
			</div>
		{% endif %}

    {% if item.section.type == "ParagraphContact" %}
			<div class="t-section__content">
				{% include '@storybook/04-Organisms/contact/contact.twig' with { section: item.section } %}
			</div>
		{% endif %}

    {% if item.section.type == "ParagraphQuote" %}
			<div class="t-section__content">
				{% include '@storybook/04-Organisms/quote/quote.twig' with { section: item.section } %}
			</div>
		{% endif %}

     {# End of Paragraphs #}

     {% if item.section.title != null and item.section.type != "ParagraphModal" and item.section.type != "ParagraphWhatsRelated" %}
      <div class="t-section__bottomWaypoint" data-id="{{ item.section.title|cleanString() }}" aria-hidden="true"></div>
     {% endif %}

     {% if item.section.title != null and item.section.type != "ParagraphModal" and item.section.type != "ParagraphWhatsRelated" %}
      {% include '@storybook/03-Molecules/nextSection/nextSection.twig' with { nodeSections: node.sections, index: loop.index0 } %}
     {% endif %}
    </div>
   {% endfor %}
  </div>

 {% endif %}
