{# Non-Background Image #}
{% set noImage = hero.featuredImage.entity.desktopImg.derivative.url == null ?  ' bg-primary-light-blue -noImage' : '' %}

{# Background Image #}
{% if hero.image.entity.desktopImg.derivative.url is not empty %}
	{% set bg_image_desktop = hero.image.entity.desktopImg.derivative.url %}
	{% set bg_image_tablet = hero.image.entity.tabletImg.derivative.url %}
	{% set bg_image_mobile = hero.image.entity.mobileImg.derivative.url %}
{% endif %}

{% if hero.featuredImage.entity.desktopImg.derivative.url is not empty %}
	{% set bg_image_desktop = hero.featuredImage.entity.desktopImg.derivative.url %}
	{% set bg_image_tablet = hero.featuredImage.entity.tabletImg.derivative.url %}
	{% set bg_image_mobile = hero.featuredImage.entity.mobileImg.derivative.url %}
{% endif %}

{# landing Hero #}
{% if heroType == "landingPageHero" %}

	<style>
		.o-hero .o-hero__wrapper {
			background-image: url('{{ bg_image_mobile|raw }}');
		}
		@media(min-width: 768px) {
			.o-hero .o-hero__wrapper {
				background-image: url('{{ bg_image_tablet|raw }}');
			}
		}
		@media(min-width: 1280px) {
			.o-hero .o-hero__wrapper {
				background-image: url('{{ bg_image_desktop|raw }}');
			}
			.o-hero .o-hero__wrapper.-right {
				background-image: url('{{ bg_image_desktop|raw }}');
			}
			.o-hero .o-hero__wrapper.-bottom {
				background-image: url('{{ bg_image_desktop|raw }}');
			}
		}
	</style>

	{% set placement = hero.placement %}

	<div class="o-hero -landingPage">
		<div class="o-hero__wrapper -{{placement}}"></div>
		{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
			title: hero.headline,
			date: date,
			text: description,
			variant: "m-landingPage__hero -items"
			}
		%}
	</div>
{% endif %}

{# Article Hero #}
{% if heroType == "articlePageHero" %}

	<style>
		.o-hero .o-hero__wrapper {
			background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('{{ bg_image_mobile|raw }}');
		}
		.o-hero.-noImage .o-hero__wrapper {
			background-image: url('');
		}
		@media(min-width: 768px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 75%,rgba(0,0,0,0)), url('{{ bg_image_tablet|raw }}');
			}
		}
		@media(min-width: 1024px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 75%,rgba(0,0,0,0)), url('{{ bg_image_desktop|raw }}');
			}
		}
	</style>

	<div class="o-hero{{noImage}} -articlePage">
		<div class="o-hero__wrapper">
			{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
				title: hero.title,
				text: description,
				variant: "m-articlePage__hero -items" } 
				%}
		</div>
		{% include '@storybook/03-Molecules/heroSeparator/heroSeparator.twig' %}
	</div>
{% endif %}

{# Program Hero #}
{% if heroType == "programPageHero" %}

	<style>
		.o-hero .o-hero__wrapper .o-programHero__mobileImg {
			background-image: url('{{ bg_image_mobile|raw }}');
		}
		.o-hero.-noImage .o-hero__wrapper {
			background-image: url('');
		}
		@media(min-width: 768px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_tablet|raw }}');
			}
		}
		@media(min-width: 1024px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_desktop|raw }}');
			}
		}
	</style>

	<div class="o-hero{{noImage}} -programPage">
		<div class="o-hero__wrapper">
			<div class="o-programHero__mobileImg"></div>
			{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
        linkText: hero.label.linkText,
        url: hero.label.url.path,
        title: hero.title,
        text: description,
        variant: "m-programPage__hero -items"
        }
      %}
		</div>
		{% include '@storybook/03-Molecules/heroSeparator/heroSeparator.twig' %}
	</div>
{% endif %}

{# Emergency Hero #}
{% if heroType == "emergencyPageHero" %}

	<div class="o-hero -emergencyPage">
		<div class="o-hero__wrapper">
			{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
				title: hero.title,
				text: description,
				date: date,
				variant: "m-emergencyPage__hero -items"
				}
			%}
		</div>
	</div>
{% endif %}

{# Service Hero #}
{% if heroType == "servicePageHero" %}

	<style>
		.o-hero .o-hero__wrapper {
			background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('{{ bg_image_mobile|raw }}');
		}
		.o-hero.-noImage .o-hero__wrapper {
			background-image: url('');
		}
		@media(min-width: 768px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_tablet|raw }}');
			}
		}
		@media(min-width: 1024px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_desktop|raw }}');
			}
		}
	</style>

	<div class="o-hero{{noImage}} -servicePage">
		<div class="o-hero__wrapper {{hero.transactionTime is  empty  ? '-noTransaction' : '' }}">
			{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
				title: hero.title,
				subheadline:hero.subheadline,
				variant: "m-servicePage__hero -items"
				}
			%}
		</div>
		{% include '@storybook/03-Molecules/heroSeparator/heroSeparator.twig' %}
	</div>
{% endif %}

{# News Hero #}
{% if heroType == "newsPageHero" %}

	<style>
		.o-hero .o-hero__wrapper {
			background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('{{ bg_image_mobile|raw }}');
		}
		.o-hero.-noImage .o-hero__wrapper {
			background-image: url('');
		}
		@media(min-width: 768px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 75%,rgba(0,0,0,0)), url('{{ bg_image_tablet|raw }}');
			}
		}
		@media(min-width: 1024px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 75%,rgba(0,0,0,0)), url('{{ bg_image_desktop|raw }}');
			}
		}
	</style>

	<div class="o-hero{{noImage}} -newsPage">
		<div class="o-hero__wrapper">
			{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
				date: date,
				text: hero.location,
				title: hero.title,
				content: keyword.entity.keyword, 
				url: keyword.entity.url.path,				
				variant: "m-newsPage__hero -items"
				}
			%}
		</div>
		{% include '@storybook/03-Molecules/heroSeparator/heroSeparator.twig' %}
	</div>
{% endif %}

{# Executive Order Hero #}
{% if heroType == "executiveOrderPageHero" %}

	<style>
		.o-hero .o-hero__wrapper {
			background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)), url('{{ bg_image_mobile|raw }}');
		}
		.o-hero.-noImage .o-hero__wrapper {
			background-image: url('');
		}
		@media(min-width: 768px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_tablet|raw }}');
			}
		}
		@media(min-width: 1024px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_desktop|raw }}');
			}
		}
	</style>

	<div class="o-hero{{noImage}} -executiveOrderPage">
		<div class="o-hero__wrapper">
			{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
				date: date,
				title: hero.title,
				keyword: keywords.entity.keyword, 
				url: keywords.entity.url.path,				
				variant: "m-executiveOrderPage__hero -items"
				}
			%}
		</div>
		{% include '@storybook/03-Molecules/heroSeparator/heroSeparator.twig' %}
	</div>
{% endif %}

{# ScheduledEvent Hero #}
{% if heroType == "scheduledEventPageHero" %}

	<style>
		.o-hero .o-hero__wrapper {
			background-image: url('{{ bg_image_mobile|raw }}');
		}
		.o-hero.-noImage .o-hero__wrapper {
			background-image: url('');
		}
		@media(min-width: 768px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_tablet|raw }}');
			}
		}
		@media(min-width: 1024px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_desktop|raw }}');
			}
		}
	</style>

	<div class="o-hero{{noImage}} -scheduledEventPageHero">
		<div class="o-hero__wrapper">
			{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
				variant: "m-scheduledEventPage__hero -items"
				}
			%}
		</div>
		{% include '@storybook/03-Molecules/heroSeparator/heroSeparator.twig' %}
	</div>
{% endif %}

{# Biography Hero #}
{% if heroType == "bioPageHero" %}
	<style>
		.o-hero .o-hero__wrapper .o-bioHero__mobileImg {
			background-image: url('{{ bg_image_mobile|raw }}');
		}
		@media(min-width: 768px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_tablet|raw }}');
			}
		}
		@media(min-width: 1024px) {
			.o-hero .o-hero__wrapper {
				background-image: linear-gradient(to right,#000,rgba(0,0,0,0.25) 50%,rgba(0,0,0,0)), url('{{ bg_image_desktop|raw }}');
			}
		}
	</style>

	<div class="o-hero -bioPageHero">
		<div class="o-hero__wrapper ">
			<div class="o-bioHero__mobileImg"></div>
			{% include '@storybook/03-Molecules/heroItems/heroItems.twig' with {
        bioName: hero.bioName,
        bioTitle: hero.bioTitle,
				variant: "m-bioPage__hero -items"
				}
			%}
		</div>
	</div>
{% endif %}
