
{% if variant == "html" %}
  <div class="a-text__html {{classNames}}" >{{text|raw}}</div>
{% endif %}

{% if variant == "string" %}
  <div class="a-text__string {{classNames }}">{{text}}</div>
{% endif %}

{% if variant == "a-stats__stats" %}
{% set stats = stats|split(' ', 2) %}
<div class="a-stats__stats">
  <h3>{{stats[0]}}<small>{{stats[1]}}</small> </h3>
  <h4>{{statsLabel}}</h4>
</div>
{% endif %}
